:root {
	--primary-text-color: #0e0202;

	--title-text-color: #ffffff;

	--title-h1-color: #ffffff;

	--accent-color-background: #7aff3d;

	--focus-hover-color: #f8f8f8 ;

	--accent-btn: #f5f4fa;

	--bcg-color-footer: #2f303a;

	--bcg-color-header: #ffffff;

	--contacts-list-color: rgba(255, 255, 255, 0.6);
	--background-our-team: #f5f4fa;
	--bgc-client: #e5e5e5;
	--icon-primary-color: #afb1b8;
	--bgc-features-icon: #dedde2;

	--transition-timing: 300ms;
	--transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}