body {
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;

	color: var(--primary-text-color);
	background-image: url("https://wallpaper.dog/large/20395915.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

}

body.modal-open {
	overflow: hidden;
}

.icon {
	fill: currentColor;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

